#!/usr/sbin/nft -f

flush ruleset

table inet vpn_filter {
    chain input {
        type filter hook input priority filter; policy drop;

        iifname "lo" accept
        ct state established,related accept
        tcp dport 22 accept
        udp dport {{ amneziawg_port }} accept
        ip protocol icmp accept
    }

    chain forward {
        type filter hook forward priority filter; policy drop;

        iifname "{{ amneziawg_interface }}" oifname "{{ amneziawg_external_interface }}" accept
        iifname "{{ amneziawg_external_interface }}" oifname "{{ amneziawg_interface }}" ct state established,related accept
    }

    chain output {
        type filter hook output priority filter; policy accept;
    }
}

table ip vpn_nat {
    chain postrouting {
        type nat hook postrouting priority srcnat; policy accept;

        ip saddr {{ amneziawg_network }} oifname "{{ amneziawg_external_interface }}" masquerade
    }
}